<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Summer's Restaurant</title>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- ICONS -->
  <script src="https://kit.fontawesome.com/3254a5221a.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"> </script>
</head>

<body>

  <%- include('partials/_header') %>

    <!-- Page-specific (main) content here -->
    <main>
      <div class="menu-display">
        <%- include('partials/_menu') %>

          <section class="cart">

            <article>
              <h3>Cart</h3>
              <% for(let order of orders) { %>
                  <h4><%= order.name %></h4>
                  <img src="<%= order.food_url %>">
                  <p><%= order.price_cents / 100 %></p>
                  <button value="<%=order.id%>" class="decrement-button"><img src="http://simpleicon.com/wp-content/uploads/plus.png"></button>
                  <button value="<%=order.id%>" class="increment-button"><img src="http://simpleicon.com/wp-content/uploads/plus.png"></button>
                  <button><i class="fas fa-times"></i></button>
              <% } %>
              <a href="/api/orders/checkout/submitted"><button>Submit</button></a>
          </section>
      </div>
    </main>
</body>

</html>
