<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Summer's Restaurant</title>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu-sidebar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <!-- ICONS -->
  <script src="https://kit.fontawesome.com/3254a5221a.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"> </script>
</head>

<body>

  <%- include('partials/_header') %>

    <!-- Page-specific (main) content here -->
    <main>
      <section class="menu-container">
        <div class="menu-display">
        <%- include('partials/_menu') %>
          <article class="cart-display">
              <h3 id="cart-title">CART</h3>
              <% for(let order of orders) { %>
                <div class="each-item">
                  <img class="item-image" src="<%= order.food_url %>">
                  <div class="item-text">
                  <h4 class="item-name"><%= order.name %></h4>
                  <p class="price">$<%= order.price_cents / 100 %></p>
                  <input type="hidden" id="hidden_userID" value= <%= userID %>></input>
                  <div class="minus-plus">
                  <button value="<%=order.id%>" class="decrement-button"><img id="minus-button" src="/images/decrement-button.png"></button>
                  <div class="textbox"> <%= order.quantity %> </div>
                  <button value="<%=order.id%>" class="increment-button"><img id="plus-button" src="/images/increment-button.png"></button>
                  </div>
                </div>
                <% } %>
                  <form method="POST" action="/api/orders/checkout"><button class="submit-button">Submit</button></form>
            </article>
        </div>
      </section>
      </div>
    </main>
</body>

</html>
