<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Meta Information -->
 <title>Summer's Restaurant</title>
 <!-- App CSS -->
 <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
 <!-- ICONS -->
 <script src="https://kit.fontawesome.com/3254a5221a.js" crossorigin="anonymous"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <!-- Page-specific (main) content here -->
  <main>
  <!-- main menu -->
  <%- include('partials/_menu') %>

  <article class="food-menu">
    <!-- <% for(let food of foods) { %>
    <li class="food">
        <h4 class="food-name"><%= food.name %></h4>
        <img id="food_image" src="<%= food.food_url %>">
        <p><%= food.price_cents / 100 %></p>
        <button><i class="far fa-minus-square"></i></button>
        <button><i class="far fa-plus-square"></i></button>
    </li>
  <% } %> -->
  </article>

  </main>
</body>
</html>
