<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <script src="./client.js"></script> -->
  <!-- Meta Information -->
  <title>Summer's Restaurant</title>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu-sidebar.css" type="text/css" />

  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <!-- ICONS -->
  <script src="https://kit.fontawesome.com/3254a5221a.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"> </script>
</head>

<body>
  <%- include('partials/_header') %>

    <!-- Page-specific (main) content here -->
    <main>
      <section class="menu-container">
        <div class="menu-display">
          <%- include('partials/_menu') %>
            <article class="food-menu">
              <% for(let food of foods) { %>
                <div class="each-food">
                  <img class="food-image" src="<%= food.food_url %>">
                  <div class="food-text">
                    <h4 class="food-name">
                      <%= food.name %>
                    </h4>
                    <p class="price">
                      $<%= food.price_cents / 100 %>
                    </p>
                    <input type="hidden" id="hidden_userID" value=<%=userID %>></input>
                    <div class="minus-plus">
                      <button value="<%=food.id%>" class="decrement-button"><img id="minus-button"
                          src="/images/decrement-button.png"></button>
                      <div class="textbox"> 0 </div>
                      <button value="<%=food.id%>" class="increment-button"><img id="plus-button"
                          src="/images/increment-button.png"></button>
                    </div>
                  </div>
                </div>
                <% } %>
            </article>
        </div>
      </section>
    </main>
</body>

</html>
